.list-group .list-group {
  margin: 0;
  margin-top: 10px;
}

.list-group-item li.list-group-item {
  margin: 0 -15px;
  border-top: 1px solid #ddd !important;
  border-bottom: 0;
  padding-left: 30px;
}

.list-group-item li.list-group-item:last-child {
  padding-bottom: 0;
}

.btn-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 16px;
  box-shadow: none;
  margin: 2px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-outline {
  background: none;
  border: none;
  border-radius: 24px;
  box-shadow: none;
  margin: 2px;
}

.btn-no-background {
  background: none;
  border: none;
}
