.list-group .list-group {
  margin: 0;
  margin-top: 10px;
}

.list-group-item li.list-group-item {
  margin: 0 -15px;
  border-top: 1px solid #ddd !important;
  border-bottom: 0;
  padding-left: 30px;
}

.list-group-item li.list-group-item:last-child {
  padding-bottom: 0;
}

.mdl-card-margin {
  margin: 1rem;
}
